@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --blue-color: #0000ff;
  --indigo-color: #6610f2;
  --purple-color: #6f42c1;
  --pink-color: #d63384;
  --red-color: #ff4148;
  --orange-color: #fd7e14;
  --yellow-color: #ffc107;
  --green-color: #27ae60;
  --teal-color: #20c997;
  --cyan-color: #21e8df;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #979797;
  --gray-dark-color: #343a40;
  --gray-100-color: #f8f9fa;
  --gray-200-color: #e9ecef;
  --gray-300-color: #dee2e6;
  --gray-400-color: #ced4da;
  --gray-500-color: #adb5bd;
  --gray-600-color: #6c757d;
  --gray-700-color: #495057;
  --gray-800-color: #343a40;
  --gray-900-color: #212529;
  --primary-color: #12256d;
  --secondary-color: #f8e80e;
  --success-color: #27ae60;
  --info-color: #0dcaf0;
  --warning-color: #ffc107;
  --danger: -color var(--red);
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --gradient-color: linear-gradient(to right, #4851a8, #582a9b);
  --body-font-family: "Poppins";
  --body-font-size: 14px;
  --body-font-weight: 400;
  --body-line-height: 22px;
  --body-color: #ffffff;
  --body-bg: #04041e;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-style-italic: italic;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #acacac;
  --border-radius: 3px;
  --link-color: #000000;
  --link-hover-color: var(--secondary-color);
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: #666666;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  position: initial;
  min-height: 100%;
  font-family: 'Jost', sans-serif;
  background-color: #1a1f2c;
}

body, html {
  scroll-behavior: smooth!important;
}

.sticky-footer {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
  background-color: var(--body-bg);
}

html {
  height: 100%;
}
ul,
li,
span,
img,
p,
figure,
img,
ol,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}


/* ********************************************* */

.owl-carousel .owl-item img{
  width: auto;
}
.header-wapper {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  /* min-height: 850px; */
}
.logo-sec img {
  height: 70px;
}
li.nav-item.socail-icons a i {
  color: #fff;
  font-size: 25px;
}
.navbar-nav .nav-item {
  padding: 5px;
}
li.nav-item.socail-icons a {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-color: #454c5f;
  display: inline-block;
  text-align: center;
  padding: 7px;
}
.navbar-sec ul.navbar-nav.me-auto.mb-lg-0 {
  display: flex;
  justify-content: end;
  width: 67%;
}
.cmn-btn123 button {
  color: #000;
  background-color: #029DE0;
  width: 150px;
  line-height: 35px;
  height: 56px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
.cmn-btn123 a {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #029DE0;
  line-height: 35px;
  display: flex;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  height: 56px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.header-section-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.1);
  z-index: 999;
  backdrop-filter: blur(24px);
}
.main-header-text-box {
  padding-top: 110px;
}
.heading-1 h2 {
  font-size: 57px;
  line-height: 74px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0px 85px;
  z-index: 998;
  position: relative;
}
.about-text p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  z-index: 998;
  position: relative;
}
.ply-btn {
  text-align: center;
  margin-top: 25px;
}
.about-text {
  text-align: center;
  margin-top: 25px;
}
.step-head-sec h3 {
  color: #fff;
  text-align: center;
  font-size: 57px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-top: 40px;
  position: relative;
  z-index: 99;
}
.step-head-sec {
  width: 510px;
  margin: 0 auto;
}
.ball-img-1 img {
  position: absolute;
  right: 17%;
  top: 15%;
}
.ball-img-2 img {
  position: absolute;
  right: 23%;
  top: 46%;
}
.ball-animation-img-1 img {
  position: absolute;
  right: 5%;
  top: 35%;
}
.frame-img-12 img {
  position: absolute;
  right: 32%;
  top: 13%;
}
.ball-img-3 img {
  position: absolute;
  left: 5%;
  top: 15%;
}
.ball-animation-img-2 img {
  position: absolute;
  left: 4%;
  top: 37%;
}
.ball-animation-img-3 img {
  position: absolute;
  left: 20%;
  top: 52%;
}
.ball-img-4 img {
  position: absolute;
  left: 14%;
  top: 36%;
}

.rotate {
  animation: rotation 3s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.cmn-sec {
  position: relative;
}


.banner-inside-sec {
  margin: 0 auto;
  width: 560px;
}
.cmn-container123 {
  background: #1a1f2c;
  text-align: center;
  border-radius: 15px;
  opacity: 1;
  background-color: rgb(42 50 70);
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.registerd-and-deposit-sec {
  margin-top: 70px;
}
.grid-sub-container {
  position: relative;
  min-width: 300px;
}
.heading-3 span {
  color: #ffffff;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
}
.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 115px;
  width: 115px;
  padding: 13px;
  opacity: 1;
  background-color: rgb(65 77 108);
  text-align: center;
  margin: 0 auto;
  line-height: 89px;
}
.heading-3 {
  margin-top: 15px;
}
.digit-round-text {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.digit-round-bg {
  width: 40px;
  background-color: #029DE0;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  top: auto;
  right: 0;
  line-height: 40px;
  bottom: -10px;
}
.img-wrapper img:hover {
  transform: scale(0.95);
}
.live-and-promo-heading h3 {
  font-size: 35px;
  color: #bfc6d7;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}
section.live-and-promotions-sec {
  margin-top: 75px;
}

/* //css animation */

.upToDown {
  animation: animateUpToDown 30s linear infinite;
  animation-delay: -15s
}

.upToDown1 {
  animation: animateUpToDown-2 30s linear infinite;
  /* animation-delay:-30s; */
}

.downToUp {
  animation: animateDownToUp 30s linear infinite;
  animation-delay: -15s
}

.downToUp1 {
  animation: animateDownToUp-2 30s linear infinite;
  animation-delay: -30s
}

.sliderDownToUp:hover .downToUp,.sliderDownToUp:hover .downToUp1,.sliderUpToDown:hover .upToDown,.sliderUpToDown:hover .upToDown1 {
  animation-play-state: paused
}

.slider-3 span {
  width: -webkit-fill-available!important
}

.logo {
  min-height: 50%!important;
  min-width: 50%!important
}

@keyframes animateUpToDown {
  to {
      transform: translateY(100%)
  }

  0% {
      transform: translateY(-100%)
  }
}

@keyframes animateUpToDown-2 {
  to {
      transform: translateY(0)
  }

  0% {
      transform: translateY(-200%)
  }
}

@keyframes animateDownToUp {
  0% {
      transform: translateY(100%)
  }

  to {
      transform: translateY(-100%)
  }
}

@keyframes animateDownToUp-2 {
  0% {
      transform: translateY(0)
  }

  to {
      transform: translateY(-200%)
  }
}

.games-banner figure img {
  border-radius: 15px;
}
.games-banner {
  margin: 15px 0px;
}
.animation-up-down {
  display: flex;
  height: 85vh;
}
.download-app {
  background-image: url('../assets/images/landing-page-20/community_bg_1.82c8b271.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0,100% 0;
  background-color: #029DE0;
  border-radius: 30px;
}
section.download-apk-sec {
  margin-top: 50px;
}
.download-title h3 {
  opacity: 1;
  color: rgb(0 0 0);
  font-size: 57px;
  line-height: 74px;
  font-weight: 700;
}
button.down-ld-app {
  font-size: 18px;
  border: 0;
  font-weight: 600;
  text-align: center;
  background-color: rgb(32 38 54);
  padding: 16px 30px;
  opacity: 1;
  color: rgb(255 255 255);
  border-radius: 5px;
  margin-top: 25px;
  transition-duration: 1s;
}
.android-img figure img {
  width: 275px;
  padding: 10px;
}
.android-img {
  text-align: center;
}
.download-title {
  text-align: center;
  margin-top: 60px;
}
.choose-heading-text h2 {
  font-size: 57px;
  line-height: 74px;
  text-align: center;
  color: rgb(255 255 255);
  font-weight: 700;
}
section.choose-game-sec {
  margin-top: 75px;
}
.choose-heading-text {
  margin-bottom: 45px;
}
button.down-ld-app:hover {
  transform: translate(5px, 5px);
}
.wc-title h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 31px;
  margin-top: 15px;
}
.wc-logo-img figure {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 1px solid red;
  text-align: center;
  background: linear-gradient(0deg,#1a1f2c,#1a1f2c) padding-box,linear-gradient(180deg,#0bdaba -19.75%,#7841e7 100%) border-box;
  border: 0.88px solid transparent;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.wc-logo-img figure img:hover {
  transform: scale(0.95);
}
.wc-text p {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
  margin-top: 15px;
}
.w-c-main-container {
  text-align: center;
  background: #1e2433;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}
.w-c-main-container:hover{
  box-shadow: 0 16px 32px rgba(0,0,0,.3);
}
.wc-main {
  margin-top: 25px;
  height: 100%;
}

.game-conter-sec {
  margin-top: 125px;
}
section.contact-us-sec {
  margin-top: 95px;
}
.supprt-text p {
  color: #bfc6d7;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  line-height: 25px;
  font-weight: 500;
}
.supprt-text {
  margin: 0 auto;
  width: 910px;
}
.socail-icons-container .socail-list-name li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}
.socail-icons-container .socail-list-name {
  text-align: center;
}
.socail-icons-container {
  margin-top: 20px;
  margin-bottom: 50px;
}
.registration-form-sec {
  margin: 0 auto;
  width: 500px;
}
.inp-fill-form label {
  color: rgb(255,255,255);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.inp-fill-form .form-control {

    padding: 20px 150px 20px 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255 255 255);
    background-color: rgb(42 50 70);
    border:1px solid rgb(124 146 200);
    border-radius: 10px;
}
.inp-fill-form .form-control:focus {
  color: #ffffff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}
.inp-fill-form {
  margin-top: 20px;
}
.enquire-btn123 {
  text-align: center;
}
.enquire-btn123 .cmn-btn123 button {
  width: 200px;
  padding: 7px;
}
.footer-logo figure img {
  height: 55px;
}
.footer-logo {
  text-align: center;
}
section.footer-sec {
  border-top: 1px solid rgb(61 60 107);
  margin-top: 30px;
  padding-top: 25px;
}
.footer-text.supprt-text p {
  line-height: 30px;
  padding: 0px 15px;
}
.copy-rgt-sec {
  text-align: center;
  margin: 15px 0px;
}
.copy-rgt-sec p {
  color: #bfc6d7;
  font-size: 18px;
  font-weight: 500;
}
.cmn-btn123 button:hover, .cmn-btn123 a:hover{
  --tw-translate-y: 0.25rem;
  transform: translate(1px,4px);
  box-shadow: 0 0 #0000,0 0 #0000 ,0 0 #0000,0 0 #0000, 4px 4px 9px #1e2433;
}
li.nav-item.socail-icons a i:hover {
  color: #000;
}
li.nav-item.socail-icons a:hover {
  background-color: #029DE0;
}
.frame-img-11 {
  position: absolute;
  top: 30%;
  left: 30%;
}
.f-l-row {
  display: flex;
  justify-content: space-evenly;
}
.col-6-l {
  width: 35%;
}
.col-6-r {
  width: 65%;
}
.footer-text.supprt-text {
  width: 750px;
  margin: inherit;
}
.navbar-sec ul.navbar-nav.me-auto.mb-lg-0 {
  display: flex;
  justify-content: end;
  width: 65%;
  flex-direction: revert;
  margin-top: 0px;
  padding: 20px 0px;
}
.navbar-light .navbar-toggler-icon {
  background-image:none;
}
i.fa-solid.fa-bars {
  color: #fff;

}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  position: absolute;
  top: 10px !important;
  right: -10px !important;
}
span.navbar-toggler-icon.mobile-view {
  background: linear-gradient(0deg,#1a1f2c,#1a1f2c) padding-box,linear-gradient(180deg,#0bdaba -19.75%,#7841e7 100%) border-box;
  border: 0.88px solid transparent;
  padding: 6px;
  display: inline-block;
  border-radius: 5px;
  height: 35px;
  width: 33px;
}
.whats-app-side-icons-sec a i {
  color: #fff;
  font-size: 20px;
}
.whats-app-side-icons-sec a {
  height: 45px;
  width: 45px;
  background-color: #029DE0;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  z-index: 998;
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);

}

.whats-app-side-icons-sec {
  position: absolute;
  top: 50vh;
  right: 0;
  height: auto;
  transition: all .5s ease-in-out;
  z-index: 10001;
  border-radius: 3px 0 0 3px;
  padding: 0;
  box-shadow: -5px 0 10px -5px hsla(0,0%,100%,.98);
  text-align: center;
  box-sizing: border-box;
}

.choose-game-con {
  margin: 0px 130px;
}

/* ***************live up down slider */




section.live-and-promotions-sec{
  position: relative;
}

.live-img img{
  object-fit: cover;
  border-radius: 6px;
  transition: all 1s;
  }

  
  
/* .live-img:hover{
  transition: all 1s;
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
} */
.live-owlupdown-slider .live-and-promo-heading {
  z-index: 997;
  display: inline-flex;
  margin-top: 30px;
}


.live-owlupdown-slider .live-and-promo-heading h3 {
  z-index: 998;
  /* margin-top: -205px; */
}
.live-owlupdown-slider {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 30px 0px;
}

/* .live-owlupdown-slider::before {
  content: "";
  background-image: url(../assets/images/landing-page-20/live-bg.png);
  background-repeat: no-repeat;
  background-position:top ;
  position: absolute;
  top: -7px;
  width: 100%;
  z-index: 9;
  height: 100%;
}

.live-owlupdown-slider::after {
  content: "";
  background-image: url(../assets/images/landing-page-20/live-bg-down.png);
  background-repeat: no-repeat;
  background-position:bottom;
  position: absolute;
  bottom: -7px;
  width: 100%;
  z-index: 9;
  height: 100%;
} */

.game-owl-sec{
  display: block !important;
}



/* ****************************footer-sec***************************************** */

.footer-wrapper{
  margin-top: 50px;
  padding: 20px 0px;
}

.footer-group-contant{
  display: flex;
}

.footer-group-sec {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.group-img img{
  margin-right: 10px;
}

.group-content h4{
  font-size: 18px;
  line-height: 26px;
  color: #ffb80c;
  margin-bottom: 4px;
}

.group-content p{
  font-size: 14px;
  font-weight: 400;
    color: #999;
    margin-bottom: 4px;
}

.group-content a{
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ffb80c;
}

.footer-group-sec{
  padding: 10px 0px;
}

.cs-me{
  margin-right: 20px;
}

.partner-content p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: .625rem;
    color: rgba(242,242,242,.8);
    line-height: 24px;
}

.partner-content p a {
  color: #ffb80c;
  text-decoration: underline;
}

.partner-content-img{
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  align-items: center;
}
.payment-methods .partner-content-img{
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.partner-img{
  margin-right: 20px;
 filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.partner-img a:hover img{
  filter: none;
}

.footer-partner-wrapper{
  margin-top: 15px;
  padding: 10px 0px;
  border-top: 0.5px solid #ccc;
}

.partner-gtm ul li a{
  color: var(--secondary-color);
}

.partner-gtm ul li{
  border: none;
}

.footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
}

.footer-menu ul li{
  list-style: none;
  margin-left: 10px;
}

.footer-menu ul li a{
    font-size: 16px;
    line-height: 20px;
    color: #f2ab00;
    text-transform: capitalize;
}

.copy-right {
  margin-top: 4px;
}

.footer-logo {
  width: 26%;
}

.Sports-responsive-slider{
  display: none;
  transition:  5s linear;
}

.Sports-responsive-slider.show{
  display: inline-block;
}

.sports-click-contant{
  display: none;
}


.casino-responsive-slider{
  display: none;
  transition:  5s linear;
}

.casino-responsive-slider.show{
  display: inline-block;
}


.nav-inner .dropdown-toggle::after {
  display: none;
}

.nav-inner .navbar-nav .dropdown-menu {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  overflow-y: auto;
  width: fit-content;
}

.responsive-menu-slider-sec ul li{
  border: none;
  width: fit-content;
}

.nav-inner-nav li {
  width: 100%;
  text-align: center;
}

.responsive-menu-slider-sec {
  display: none;
}

.nav-inner .navbar-nav .dropdown-menu {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  overflow-y: auto;
  width: fit-content;
}

.res-data-sec .dropdown{
  display: none;
}

/* .Casino-data-sec [data-bs-toggle="dropdown"]{
  display: none;
} */

.res-data-sec span{
  display: none;
}

.res-nav-toggler{
  display: none;
}

.btn-check:active+.btn-outline-success:focus, .btn-check:checked+.btn-outline-success:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus, .btn-outline-success:active:focus {
  box-shadow: none !important;
  background-color: transparent;
}

.update-con{
  display: none;
}

.tab-inner-con {
  border-radius: 20px !important;
  overflow: hidden;
  width: 100%;
}

.tab-inner-con img:hover {
  transform: scale(1.1);
  transition: all .5s ease 0s;
}

.footer-apk{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apk-logo img{
  max-width: 250px;
}

.wt-logo img{
  max-width: 35px;
}

.apk-logo ul li a:hover {
  -webkit-filter: none !important;
  filter: none !important;
}
.whatsapp-logo img {
  max-width: 18px;
  max-height: 18px;
}

.gtm-contant ul {
  display: flex;
  align-items: center;
}


.gtm-contant ul li{
  margin-right: 5px;
  list-style: none;
  display: flex;
  align-items: center ;
  padding-right: 8px;
}


.gtm-contant ul li img{
  margin-right: 8px;
}

.footer-logo {
  min-width: 120px !important;
  margin: 10px 0px;
}



/*******************************************login-signup************************************************** */


.header-wapper {
  background-size: cover;
}

.header-sec {
  padding: 10px 0px !important;
  margin: 0px !important;
  position: relative;
}

/*head-nav*/

.head-nav,
.sub-footer {
  background-size: cover;
    padding: 15px 0px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-account .form-control::placeholder,
.number-var .form-select::placeholder {
    color: #000000;
}
.login-account .form-control:-ms-input-placeholder,
.number-var .form-select::placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}
.login-account .form-control::-ms-input-placeholder,
.number-var .form-select::placeholder {
    /* Microsoft Edge */
    color: #000000;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.header-sec-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nev-but {
    display: flex;
    align-items: center;
}
.head-nav .navbar-light .navbar-nav .nav-link,
.sub-footer .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.head-nav .navbar-light .navbar-nav .nav-link.active,
.head-nav .navbar-light .navbar-nav .nav-link:hover,
.sub-footer .navbar-light .navbar-nav .nav-link.active,
.sub-footer .navbar-light .navbar-nav .nav-link:hover {
    color: var(--bo-danger);
}
.head-nav .btn.btn-join-now {
    border: solid 2px #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 24px;
    text-transform: capitalize;
}
.head-nav .btn.btn-join-now:hover,
.head-nav .btn.btn-log-in:hover {
    background-color: #d6a731;
    border-color: #d6a731;
}
.head-nav .btn.btn-log-in {
    background-color: #f9ba1c;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 24px;
    text-transform: capitalize;
    margin-left: 5px;
}
/*login-account*/
.login-account .login-now {
    margin: 0 auto;
    width: 450px;
}
.login-account .login-form {
    text-align: center;
    color: #bfc6d7;
    text-transform: capitalize;
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 15px;
}


.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 2px #4851a8;
}
.form-check-input:focus {
    border: none;
}
.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}
.login-account .form-control {
    font-size: 15px;
    line-height: 2.1;
    color: #000000;
    border-radius: 7px;
    text-transform: capitalize;
    border: none;
}
.login-account .btn-tr-in {
    color: #000;
    background-color: #f8e80e;
    border-color: #f8e80e;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
}


.login-account .btn-tr-in:hover{
  background-color: #b1a503;
  border-color: #b1a503;
}

.login-account .form-check-label,
.forpass a,
.forpass-in,
.forpass-in a {
  color: #bfc6d7; 
    font-size: 13px;
    font-weight: 500;
}
.cheak-flex {
    display: flex;
    justify-content: space-between;
}
.login-account .forpass-in {
    text-align: center;
    padding-top: 12px;
}
/* .forpass-in a,
.forpass a p {
    border-bottom: solid 1px red;
} */

.sub-footer .nav-link {
    padding: 0px;
}
.sub-footer {
    padding: 15px 0px;
}
.sub-footer .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: end;
}

/*join-now-page*/
.navbar-toggler-icon {
    background-image: url(../assets/images/landing-page-20/menu-img.svg) !important;
}
.navbar-light .navbar-toggler {
    border: none;
}
.form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
}
.number-var .codein {
    border-radius: 11px;
    border: none;
    line-height: 31px;
}
.number-var .form-select {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}
.whatsup-img img {
    width: 18px;
}
.whatsup-img {
    position: absolute;
    top: 10px;
    left: 15px;
}
.whatsup-sec {
    position: relative;
}
.input-left .form-control {
    padding-left: 50px;
}
.socail-1 ul li {
    list-style-type: none;
    padding: 10px;
}
.socail-1 {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 998;
    margin-top: -122px;
}
.socail-1 ul li a img {
    width: 42px;
}
.mak-gin {
    margin-bottom: 1rem;
}
.right-side-img {
  background-size: cover;
  height: 100vh;
  background-position: top center;
}
.forget-login {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #171c28;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 997;
  position: relative;
}


.navbar-brand,.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.head-nav .logo-fluid,
.sub-footer .logo-fluid {
    height: 40px;
    max-width: 100%;
}
.form-label {
    margin-bottom: 10px;
    color: #333333;
    font-size: 16px;
}
.resend-otp p {
    color: #f9ba1c;
    text-align: right;
    font-weight: 600;
}

.download-apk-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.download-apk-sec img{
    margin-right: 10px;
}
.mak-gin.resend-otp .forpass-in {
    padding-top: 0;
    text-align: right;
}

.form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow:none;
}

.embed-container video{
  width: 100% ;
}

.embed-container {
  border-radius: 10px;
}

.whatsup-img {
  top: 13px;
}
.mak-gin.forgot-password-link {
  text-align: right;
}
.forgot-password-link .forpass {
  width: auto;
  display: inline-block;
  text-align: right;
}
.login-flow-heading .login-form {
  padding: 0;
  text-align: center;
}
.login-flow-heading {
  padding-bottom: 20px;
}
.login-flow-heading p {
  text-align: center;
  font-weight: 500;
  color: #bfc6d7;
}
.whatsapp-btn {
  margin-bottom: 16px;
  text-align: center;
}
.whatsapp-btn .thm-but {
  margin-right: 0;
  background-color: #3A3A3A;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  border-color: #3A3A3A;
  font-size: 16px;
  line-height: 30px;
}
.or-text {
  font-weight: 600;
  padding-top: 15px;
  color: #bfc6d7;
}
.whatsapp-btn img {
  margin-right: 10px;
}
.login-account .btn.thm-but {
  width: 100%;
  background-color: #029DE0;
  color: var(--white-color);
  border-radius: 10px !important;
  color: #FFF;
}

.mo-number-right p {
  text-align: right;
}
.btn.cmn-bdr-btn.otp-btn {
  float: right;
  margin: 0;
  background-color: #ffc107;
  color: #000 !important;
}
.btn.cmn-bdr-btn.otp-btn:hover {
  color:#ffffff;
}
.mo-number-right {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.login-mobile-view-img {
  max-height: 300px;
  overflow: hidden;
  margin-top: 10px;
  display: none;
}
.login-mobile-view-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sports-slider-sec .sports-content h3{
  color: #fff !important;
} 
.sports-slider-sec .sports-content p{
  color: #fff !important;
}

.footer-logo{
  width: 40% ;
  display: block;
}



.header-nev{
  --bs-scroll-height: 100px;
}


.padding-body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

.register-padding{
padding-bottom: 118px !important;
}

.trem-padding{
padding-bottom: 110px !important;
}

.right-side-img{
  background-image: url(../assets/images/landing-page-20/login-right-img.jpg);
}

.sport-seven{
  border-radius: 15px;
  border: 6px solid #fff;
  background-color: #000;
}

.about-resize{
  height: 550px;
  width: 100%;
  
}

.about-resize .about-bg-img{
  border-radius: 10px;
  width: 100%;
  height:100%;
  object-fit: cover;
}


.bonus-img {
  height: 320px;
  width: 100%;
}

.bonus-img img{
  width: 100% !important; 
  height: 100% !important;
  object-fit: cover;
}


.heading-img img{
  width: 60% ;
  margin-top: 20px;
}

.Payment-warpper .game-providers .owl-nav {
  position: relative;
  margin-top: 15px;
}

.Payment-warpper .game-providers .owl-nav .owl-prev{
  position: relative;
}


.Payment-warpper .game-providers .owl-nav .owl-next{
  position: initial;
}




.winners-contant{
  margin-bottom: 30px;
}



/*footer*/

.sub-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-image: linear-gradient(180deg, #f7e170 0%, #ec9b18 100%);;
}


.footer-contant-details ul li a .contact-user-con{
  display: flex;
  align-items: center;
}
.footer-contant-details ul li a .contact-user-con img{
  margin-right: 5px;
}


.main-slider{
  margin: 0 auto;
}

figure.Casino-resize {
  width: fit-content;
  margin: 0 auto;
}

.socail-1 ul {
  display: grid;
}

.demo-id-password ul li{
  display: flex;
  align-items: center;
}

.main-footer {
  padding-bottom: 40px;
}


.form-control::placeholder {
color: #707070!important;
}

.head-nav .navbar-light .navbar-nav .nav-link, .sub-footer .navbar-light .navbar-nav .nav-link{
font-weight: 600;
}

.contact-and-regis-sec .form-control::placeholder {
color: #fff!important;
}


.sports-sec li button{
background-color: transparent !important;
color: #ffff;
border: none !important;
}

.sports-sec li button:hover{
color: #e8a004;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #e8a004;

}

.login-account {  
  padding-top: 80px;
  background-color: #1c2232;
  position: relative;
}

/* .login-account::before {
  content: "";
  background-image: url(../assets/images/landing-page-20/community_bg_1.82c8b271.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-position: bottom left;
}

.login-account::after {
  content: "";
  background-image: url(../assets/images/landing-page-20/inner-bg-icon.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-position: top right;
} */



.whatsapp-btn button{
  background-color: #338719 !important;
}

.head-nav-sec{
  display:flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;
  align-items: center;
}
.video-promotion{
  width: 100% !important;
  height: 100%;
}

.main-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
}

.license-logo img{
  max-width: 210px !important;
  height: auto;
  width: 100% !important;
  margin: 10px 0px;
}

.live-and-promo-img figure{
  display: flex;
  justify-content: center;
}

.live-and-promo-sec {
  margin: 15px 0px;
}

.responsive-img{
  display: none;
  text-align: center;
  width: 100%;
  margin: 60px 0px;
}

.whatsapp-img {
  background-color: #fff;
  border-radius: 100%;
  padding: 8px;
  width: fit-content;
}

.whatsapp-sec {
  background-color: #009804;
  border-radius: 40px;
  width: fit-content;
  position: relative;
  padding: 4px 21px 4px 8px;
}
.whatsapp-sec a{
  display: flex;
  align-items: center;
}

.whatsapp-sec h4 {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
  line-height: 23px;
  text-transform: capitalize;
}


.whatsapp-sec h4 span{
  font-size: 24px;
}
section.whatsapp-fix {
  position: fixed;
  bottom: 15%;
  right: 6%;
  z-index: 998;
}


/*******************************************login-signup************************************************** */


.header-wapper {
  background-size: cover;
}

.header-sec {
  padding: 10px 0px !important;
  margin: 0px !important;
  position: relative;
}

/*head-nav*/

.head-nav,
.sub-footer {
  background-size: cover;
    padding: 15px 0px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-account .form-control::placeholder,
.number-var .form-select::placeholder {
    color: #000000;
}
.login-account .form-control:-ms-input-placeholder,
.number-var .form-select::placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}
.login-account .form-control::-ms-input-placeholder,
.number-var .form-select::placeholder {
    /* Microsoft Edge */
    color: #000000;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.header-sec-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nev-but {
    display: flex;
    align-items: center;
}
.head-nav .navbar-light .navbar-nav .nav-link,
.sub-footer .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.head-nav .navbar-light .navbar-nav .nav-link.active,
.head-nav .navbar-light .navbar-nav .nav-link:hover,
.sub-footer .navbar-light .navbar-nav .nav-link.active,
.sub-footer .navbar-light .navbar-nav .nav-link:hover {
    color: var(--bo-danger);
}
.head-nav .btn.btn-join-now {
    border: solid 2px #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 24px;
    text-transform: capitalize;
}
.head-nav .btn.btn-join-now:hover,
.head-nav .btn.btn-log-in:hover {
    background-color: #d6a731;
    border-color: #d6a731;
}
.head-nav .btn.btn-log-in {
    background-color: #f9ba1c;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 24px;
    text-transform: capitalize;
    margin-left: 5px;
}
/*login-account*/
.login-account .login-now {
    margin: 0 auto;
    width: 450px;
}
.login-account .login-form {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 15px;
}
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 2px #4851a8;
}
.form-check-input:focus {
    border: none;
}
.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}
.login-account .form-control {
    font-size: 15px;
    line-height: 2.1;
    color: #000000;
    border-radius: 7px;
    text-transform: capitalize;
    border: none;
}
.login-account .btn-tr-in {
    color: #000;
    background-color: #f8e80e;
    border-color: #f8e80e;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
}


.login-account .btn-tr-in:hover{
  background-color: #b1a503;
  border-color: #b1a503;
}

.login-account .form-check-label,
.forpass a,
.forpass-in,
.forpass-in a {
    color: #e5e5e5;
    font-size: 13px;
    font-weight: 500;
}
.cheak-flex {
    display: flex;
    justify-content: space-between;
}
.login-account .forpass-in {
    text-align: center;
    padding-top: 12px;
}
/* .forpass-in a,
.forpass a p {
    border-bottom: solid 1px red;
} */

.sub-footer .nav-link {
    padding: 0px;
}
.sub-footer {
    padding: 15px 0px;
}
.sub-footer .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: end;
}

/*join-now-page*/
.navbar-toggler-icon {
    background-image: url(../assets/images/landing-page-20/menu-img.svg) !important;
}
.navbar-light .navbar-toggler {
    border: none;
}
.form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
}
.number-var .codein {
    border-radius: 11px;
    border: none;
    line-height: 31px;
}
.number-var .form-select {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}
.whatsup-img img {
    width: 18px;
}
.whatsup-img {
    position: absolute;
    top: 10px;
    left: 15px;
}
.whatsup-sec {
    position: relative;
}
.input-left .form-control {
    padding-left: 50px;
}
.socail-1 ul li {
    list-style-type: none;
    padding: 10px;
}
.socail-1 {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 998;
    margin-top: -122px;
}
.socail-1 ul li a img {
    width: 42px;
}
.mak-gin {
    margin-bottom: 1rem;
}
.right-side-img {
  background-size: cover;
  height: 100vh;
  background-position: top center;
}
.forget-login {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}
.navbar-brand,.navbar {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.head-nav .logo-fluid,
.sub-footer .logo-fluid {
    height: 40px;
    max-width: 100%;
}
.form-label {
    margin-bottom: 10px;
    color: #333333;
    font-size: 16px;
}
.resend-otp p {
    color: #f9ba1c;
    text-align: right;
    font-weight: 600;
}

.download-apk-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.download-apk-sec img{
    margin-right: 10px;
}
.mak-gin.resend-otp .forpass-in {
    padding-top: 0;
    text-align: right;
}

.form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow:none;
}

.embed-container video{
  width: 100% ;
}
.embed-container {
  border-radius: 10px;
}

.embed-container video{
  width: fit-content  ;
}

.whatsup-img {
  top: 13px;
}
.mak-gin.forgot-password-link {
  text-align: right;
}
.forgot-password-link .forpass {
  width: auto;
  display: inline-block;
  text-align: right;
}
.login-flow-heading .login-form {
  padding: 0;
  text-align: center;
}
.login-flow-heading {
  padding-bottom: 20px;
}
.login-flow-heading p {
  text-align: center;
  font-weight: 500;
  color: #e5e5e5;
}
.whatsapp-btn {
  margin-bottom: 16px;
  text-align: center;
}
.whatsapp-btn .thm-but {
  margin-right: 0;
  background-color: #3A3A3A;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  border-color: #3A3A3A;
  font-size: 16px;
  line-height: 30px;
}
.or-text {
  font-weight: 600;
  padding-top: 15px;
  color: #e5e5e5;
}
.whatsapp-btn img {
  margin-right: 10px;
}
.login-account .btn.thm-but {
  width: 100%;
  background-color: #029DE0;
  color: var(--white-color);
  border-radius: 10px !important;
  color: #FFF;
  border: none !important;
}

.login-account .btn.thm-but:hover{
  color: #fff !important;
}


.mo-number-right p {
  text-align: right;
}
.btn.cmn-bdr-btn.otp-btn {
  float: right;
  margin: 0;
  color: #fff;
}
.btn.cmn-bdr-btn.otp-btn:hover {
  color:#ffffff;
}
.mo-number-right {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.login-mobile-view-img {
  max-height: 300px;
  overflow: hidden;
  margin-top: 10px;
  display: none;
}
.login-mobile-view-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sports-slider-sec .sports-content h3{
  color: #fff !important;
} 
.sports-slider-sec .sports-content p{
  color: #fff !important;
}

.footer-logo{
  width: 40% ;
  display: block;
}



.header-nev{
  --bs-scroll-height: 100px;
}

.padding-body {
  background-color: #1c2232 !important;
  padding-bottom: 0px !important;
  position: relative;
  padding: 0;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}



.right-side-img{
  background-image: url(../assets/images/landing-page-20/login-right-img.jpg);
}

.sport-seven{
  border-radius: 15px;
  border: 6px solid #fff;
  background-color: #000;
}

.about-resize{
  height: 550px;
  width: 100%;
  
}

.about-resize .about-bg-img{
  border-radius: 10px;
  width: 100%;
  height:100%;
  object-fit: cover;
}


.bonus-img {
  height: 320px;
  width: 100%;
}

.bonus-img img{
  width: 100% !important; 
  height: 100% !important;
  object-fit: cover;
}


.heading-img img{
  width: 60% ;
  margin-top: 20px;
}

.Payment-warpper .game-providers .owl-nav {
  position: relative;
  margin-top: 15px;
}

.Payment-warpper .game-providers .owl-nav .owl-prev{
  position: relative;
}


.Payment-warpper .game-providers .owl-nav .owl-next{
  position: initial;
}




.winners-contant{
  margin-bottom: 30px;
}



/*footer*/

.sub-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-image: linear-gradient(180deg, #f7e170 0%, #ec9b18 100%);;
}


.footer-contant-details ul li a .contact-user-con{
  display: flex;
  align-items: center;
}
.footer-contant-details ul li a .contact-user-con img{
  margin-right: 5px;
}


.main-slider{
  margin: 0 auto;
}

figure.Casino-resize {
  width: fit-content;
  margin: 0 auto;
}

.socail-1 ul {
  display: grid;
}

.demo-id-password ul li{
  display: flex;
  align-items: center;
}

.main-footer {
  padding-bottom: 40px;
}


.form-control::placeholder {
color: #707070!important;
}

.head-nav .navbar-light .navbar-nav .nav-link, .sub-footer .navbar-light .navbar-nav .nav-link{
font-weight: 600;
}

.contact-and-regis-sec .form-control::placeholder {
color: #fff!important;
}


.sports-sec li button{
background-color: transparent !important;
color: #ffff;
border: none !important;
}

.sports-sec li button:hover{
color: #e8a004;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #e8a004;

}

/* ********************************live-Casino-section*************************************** */


.casino-img-con {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.casino-img .thm-but{
display: none;
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%, -50%);
z-index: 997;
padding: 10px 20px !important;
}

.casino-img {
position: relative;
}

.casino-img a:hover .thm-but{
display: inline-block;
}

.casino-img a:hover img{
opacity: 50%;
}


.play-thm-but {
box-shadow: 0px 0px 1px 2px rgb(152 51 134 / 90%);
filter: drop-shadow(0 0px 20px rgba(152, 51, 134, 0.6));
background: linear-gradient(to bottom, #e673cf 10%, #9a368a 90%);
border-radius: 4px;
color: #fff;
font-size: 16px;
font-weight: 500;
padding: 10px 22px;
text-decoration: none;
display: inline-block;
}

.payments ul li a .contact-user-con {
display: flex;
align-items: center;
}

.payments ul li a {
list-style: none;
text-decoration: none;
color: #fff;
font-size: 20px;
font-weight: 400;
}

.payments ul li {
list-style: none;
text-decoration: none;
color: #fff;
font-size: 14px;
font-weight: 400;
}


.payments ul li a .contact-user-con img{
margin-right: 10px;
}

.whtsup-btn ul li a{
text-decoration: none;
}

.inner-page {
  margin: 0px;
  padding: 15px 0px;
}

.sports-sec ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* all tha pages common css */

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  border: 2px solid #4851a8 !important;
  -webkit-text-fill-color: #4851a8 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}


/* ****************************inner-pages****************** */

.about-con .about-heading h2{
color: #fff !important; 
}

.about-con .about-heading span{
color: #0dcaf0;
}

.about-con .about-heading p{
color: #e5e5e5;
}

.faq-wrapper{
margin-top: 50px;
}

.faq-sec {
margin: 30px 150px;
}

.accordion-button::after {
background-image: url(../assets/images/landing-page-20/plus-icon.svg) !important;
}

.accordion-button:not(.collapsed)::after {

background-image: url(../assets/images/landing-page-20/minus-icon.svg) !important;
}

.accordion-button:not(.collapsed) {
color: #fff;
background-color: #029DE0;
box-shadow: none;
}

.accordion-button:focus {
z-index: 3;
border-color: transparent;
outline: 0;
box-shadow:none;
}

.privacy-wrapper{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 20px 35px;
margin: 30px 0px;
background-color: #000;
}

.Privacy-con{
margin-top: 30px;
}


.Privacy-con ul li h3{
color: #fff;
font-size: 18px;
font-weight: 500;
margin: 6px 0px;
line-height: normal;
}

.Privacy-con ul li{
margin: 20px 0px;
color: #e5e5e5;
font-size: 16px;
font-weight: 500;
}

.Privacy-con ul{
margin-left: 25px;
}


.Privacy-con ol li{
margin: 10px 0px !important;
color: #e5e5e5;
}

.Privacy-con ol{
margin-left: 25px;
}



.form-contact{
margin: 10px ;
}

.form-contact-name{
display: flex;
align-items: center;
width: 100%;
}

.form-contact-name .form-contact{
width: 100%;
}


.contact-form {
height: 100%;
display: flex;
width: 100%;
align-items: center;
}

.contact-form form{
width: 100%;
}
.contact-wrapper{
margin: 30px 0px;
}

.contact-img{
border-radius: 10px;
margin: 20px;
}

.Privacy-con p{
color: #e5e5e5;
margin: 10px 0px;
font-size: 18px;
font-weight: 500;
line-height: normal;
}

.Privacy-con h3{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0px;
}

.Privacy-con h2{
color: #fff;
text-transform: uppercase;
font-weight: 600;
font-size: 30px;
margin: 10px 0px;
}

.Privacy-con h1{
color: #fff;
text-transform: uppercase;
font-weight: 600;
font-size: 40px;
}

.Privacy-con h5{
color: #fff;
text-transform: uppercase;
font-weight: 600;
font-size: 16px;
margin: 10px 0px;
}

.license-list ul li{
display: flex;
align-items: center;
padding: 10px 0px;
margin: 10px 0px;
border-bottom: 1px solid #fff;
}

.license-list ul li .title{
width: 50%;
margin-right: 50px;
}

.Us-link{
flex-wrap: wrap !important;
}

.useful-list ul{
  column-count: 2;
  column-gap: 1px;
}
.thm-but{
  color: black;
  border-radius: 5px;
  border: none;
  background-color: var(--bo-primary);
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;

}

.thm-heading p {
color: #e5e5e5;
line-height: 28px;
}

.thm-heading h2 {
color: #fff !important;
font-weight: 700;
font-size: 36px;
}

.logo{
height: auto;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
color: var(--bo-primary);
}


.home-page-sliding-sec .owl-dots{
display: none !important;
}

.strike-casino-sec {
position: absolute;
width: 100%;
bottom:0;
}
.socail-link-list li{
width: 50px;
height: 50px;
}

.application-logo-sec{
width: 60%;
padding: 20px 0px;
margin: 0 auto;
}

.application-logo-sec img{
padding: 0px !important;
}

.thm-but {
  color: black;
  border-radius: 5px;
  border: none;
  background-color: #e8a004;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  
  border: 1px solid #e8a004;
  font-size: 18px;
}

.cmn-bdr-btn {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #000;
}

.cmn-bdr-btn:hover{
  border: 1px solid #e8a004 !important;
  color: #e8a004 !important;
}
.thm-but:hover{
  border: 1px solid #000;
  color: #000;
}
.login-sec{
  display: flex;
  align-items: center;
}

.login-sec li{
  list-style: none;
  margin-left: 10px;
}

.header-fix {
  display: inline !important;
}

/* .live-casino-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.inner-header {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 5px 0px;
}

.betfair ul{
display: flex;
justify-content: end;
flex-wrap: wrap;
margin-right: 30px;
}

.inner-footer {
background-color: #fff;
margin-top: 20px;
padding: 30px 0px;
}

.inner-footer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

.logo-container-part .logo{
max-width: 210px;
}

.about-us-img img{
width: fit-content;
}

.inner-header .menu-bar-right-desktop-view .toggle-btn a.active::before, .menu-bar-right-desktop-view .toggle-btn:hover a:before {
top: -22px;
}

/* .padding-body footer {
background-color: #fff;
position: absolute;
width: 100%;
bottom: 0;
left: 0;
right: 0;
} */


.padding-body header{
margin: 0px;
}

.padding-body footer{
  margin-top: 0px;
  background-color: #1a1f2c;
}
.padding-body footer .footer-group-sec{
  display: none;
}

section.banner-bg {
  margin-top: 20px;
}

.socail-list-name {
  display: flex;
  align-items: center;
  justify-content: center;
}


.socail-list-name li a img{
  width: 80%;
}

.live-img video{
  width: 100% !important;
  height: 280px !important;
}

.header-banner{
  margin-top:80px !important;
}

.owl-carousel .owl-stage{
  margin: 0 auto;
}

.how-video-img-card {
  position: relative;
  margin-top: 15px;
}
.how-video-img-card figure {
  border-radius: 20px;
  overflow: hidden;
}
.video-play-btn-card {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.btn.play-video-btn {
  padding: 0;
  margin: 0;
}
.btn:focus{box-shadow: none;}
.btn.play-video-btn span {
  background-color: #fff;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 41px;
  color: red;
  box-shadow: 0 5px 18px rgba(0,0,0,0.7);
  margin-left: 27px;
}
.btn.play-video-btn {
  padding: 0;
  margin: 0;
  line-height: 14px;
}
button.btn.play-video-btn strong {
  text-shadow: 0 1px 0 #f6e4fc;
  font-size: 22px;
  color: #000;
  background-color: rgba(255,255,255,0.7);
  padding: 0px 5px;
  border-radius: 2px;
  font-weight: 800;
}
.how-play-video-card video {
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}
.preview-image {
  width: -webkit-fill-available;
}
.user-journey-display .btn-close {
  border: none;
  background: none;
  right: 8px;
  top: 8px;
  position: absolute;
  opacity: 1;
  font-size: 30px;
  color: #000;
  background-image: linear-gradient(to bottom right, #FFC558, #FF7300);
  width: 24px;
  height: 28px;
  border-radius: 0 22px 0 22px;
}
.user-journey-display .modal-content {
  width: 80%;
  margin: auto;
  box-shadow: 0px 30px 50px #00000041;
  border: none;
  border-radius: 28px;
  background-image: url(/assets/images/landing-page-20/banner-mask-heading-sec.png);
  background-size: cover;
  backdrop-filter: saturate(180%) blur(8px);
  background-color: rgba(255,255,255,0.7) !important;
}
.bg-class-none {
  background-color: #1c2232 !important;
}
.login-account {
  background-color: #1c2232 !important;
}


.main-slider-img {
  width: 100% !important;
}


.cmn-container123 a {
  display: flex;
  flex-direction: row;
}

.heading-3 {
  margin-top: 22px;
}

.whatsApp {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 3;
  width: 81px;
  height: 81px;
  z-index: 997;
}
.whatsApp .circleIconPanel {
  width: 265px;
  height: 50px;
  border-radius: 25px;
  z-index: 1;
  position: absolute;
  left: 30px;
  bottom: 19px;
  opacity: 0;
  text-align: start;
  padding: 8px 20px 7px 50px;
  font: normal normal 600 12px/17px Poppins;
  letter-spacing: 0;
  color: #fff;
  background: #2db642 0 0 no-repeat padding-box;
  background-image: url('../assets/images/landing-page-24/WhatsAppMessage.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain
}
.whatsApp .circleIconPanel {
  opacity: 0;
  -webkit-animation: hideMessage 1s linear;
  /* animation: hideMessage 1s linear; */
  animation: hideMessage 6s infinite;
  width: 0
}

.whatsApp_img {
  position: relative;
  z-index: 2
}

.whatsApp:hover .circleIconPanel{
  opacity: 1;
  -webkit-animation: showMessage 1s linear;
  animation: showMessage 1s linear;
  width: 270px;
}


@-webkit-keyframes hideMessage {
  0% {
      opacity: 1;
      width: 265px
  }

  80%,to {
      opacity: 0;
      width: 0
  }
}

@keyframes hideMessage {
  0% {
      opacity: 1;
      width: 265px
  }

  80%,to {
      opacity: 0;
      width: 0
  }
}
.live-Casino-contant .casino-img img {
  aspect-ratio: 1/1;
}