
@media screen and (max-width: 1450px){
   
}

@media screen and (max-width: 1199px){
      
    .banner-content .owl-dots {
        bottom: 8%;
    }

    .sky-club-content .owl-nav {
        top: -15%;
    }

    .group-content h4 {
        font-size: 17px;
        margin-bottom: 1px;
        line-height: normal;
    }

    .group-content p {
        font-size: 13px;
        margin-bottom: 1px;
        line-height: normal;
    }

    .group-content a {
        font-size: 13px;
        line-height: normal;
    }

    .group-img img {
        margin-right: 0px;
        width: 71%;
        margin: 0 auto;
    }

    .group-img {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .footer-wrapper {
        margin-top: 40px;
    }

    .partner-content-img {
        width: 100%;
         overflow: hidden; 
        overflow-x: auto;
    }

    .Payment-sec img{
        max-width:fit-content;
    }

    .Payment-sec img {
        width: 75px;
    }

}

@media screen and (max-width: 1024px){
    .sub-menu span {
        font-size: 14px;
    }

    .gtm-contant ul li {
        margin-right: 4px;
        padding-right: 6px;
    }


    .sky-btn {
        border: none !important;
        padding: 4px 16px;
        font-size: 16px;
    }

    .footer-wrapper {
        margin-top: 30px;
    }



}

@media screen and (max-width: 991px){
   

 .navbar-toggler {
    padding: 0px;
    border: none;
  }

  .menu-bg {
    position: relative;
    padding: 10px 0px;
    background: transparent !important;
}

.inner-bg {
    background-color: transparent !important;
    position: absolute;
    width: fit-content;
    z-index: 9;
    top: 50%;
}

a.navbar-brand.header-contant {
    z-index: 9;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header-wrapper .container{
    max-width: 100%;
}



.menu-sec {
    justify-content: end;
}

header {
    position: relative;
}

.header-logo {
    width: 170px;
}

.custom-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
    left: -100%;
    transition: 0.3s linear;
    background-color: #323232f2;
    height: 100%;
}
  
  .custom-navbar.show{
    left: 0;
  }

  .custom-navbar-list {
    background-color: #111;
    width: 30%;
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
}

  .nav-inner-nav li a {
    border: none;
}

.nav-inner-nav li {
    text-align: left;
    margin: 0px 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
    width: 100%;
}


.custom-navbar-list li {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid  #707070;
}

.nav-inner-nav .nav-inner-icon {
    display: none;
}

.banner-runngin-mag {
    position: inherit;
    z-index: auto;
}

.banner-icon {
    z-index: auto;
}

.banner-icon-content {
    z-index: auto;
}

.inner-con-home{
    display: inline-block;
  }

  .inner-nev-img{
    display: inline-block;
    margin-right: 10px;
  }

  .inner-nev-img img{
    width: 40px;
    height: 40px;
  }

  .custom-position {
    position: inherit;
  }

  .custom-navbar-list::after{
    content: "";
    background-color: #111;
    height: 100vh;
  }

  .nav-inner-nav li a:hover {
    transition: none;
    background: none;
    color: #fff;
    border-bottom: none;
    box-shadow:none;
}

  body {
   background-color: #000;
  }

  .banner-content .owl-dots {
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 5px;
    margin: 5px;
    border: 0.6px solid var(--secondary-color);
    border-radius: 30px;
}

.banner-img img{
    border-radius: 15px;
}

.banner-warpper{
    margin-top: 10px;
}

.banner-content .item{
    width: 50%;
}

.banner-runngin-mag {
    background: transparent;
}

.banner-icon {
    background-color: #000;
    padding-top: 0px;
}

.banner-icon-content marquee{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover ; 
}

.banner-img {
    height: 150px;
}

.sports-tab-wrapper{
    display: inline;
}

.sky-club-content {
    background-color: transparent;
    border-radius: 0px;
    padding-top: 0px;
}


.sky-club-content .owl-nav button{
  margin: 0px !important;
  padding: 0px !important;
}

.sky-club-content .owl-nav button.owl-next {
    background-size: 20px;
}
  
.sky-club-content .owl-nav button.owl-prev {
    background-size: 20px;
}

.sky-heading h2 {
    color: #fff;
    margin-bottom: 8px;
    margin-left: 0px;
    border-left: 4px solid var(--secondary-color);
    padding-left: 8px;
}

.sky-club-content .owl-nav {
    top: -20%;
}

.club-slider-img img{
    border-radius: 8px;
    margin-top: 8px;
}

.group-content h4 {
    font-size: 16px;
}

.group-content p {
    font-size: 12px;
}

.group-content a {
    font-size: 12px;
    line-height: normal;
}

.partner-content {
    margin-top: 14px;
}

.footer-partner-wrapper {
    padding: 0px 0px;
}

.partner-sec .align-items-center{
   align-items: flex-start !important;
   margin-top: 10px;
}

.copy-right .partner-content{
    margin-top: 5px;
}

.sports-slider{
    display: none;
}

.responsive-menu-slider-sec {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #000;
    height: 100%;
}

.responsive-menu-slider-list ul{
 display: inline-block;
}

.sports-click-contant{
    display: inline-block;
  }


  li.nav-item.sports-hover-contant {
    display: none;
}
.res-data-sec{
    position: relative;
}

.res-data-sec span {
    display: inline-block;
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100vh;
    left: 0;
    top: 0;
}

.nav-inner .navbar-nav .dropdown-menu {
    left: 30%;
}

.custom-navbar.show .res-nav-toggler {
    display: inline-block;
    position: absolute;
    top: 1%;
    right: 8%;
    z-index: 998;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: none;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-tab-img ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.update-conres{
    display: none !important;
  }
  .update-con{
    display: none;
  }
  .gtm-contant.partner-gtm.social-icons-footer {
    display: inherit;
}
.rit-side-apk-licence .license-logo-btn {
    margin-left: 15px;
    max-width: 100%;
    text-align: left;
    display: inline-block;
    width: 250px;
    margin-top: 0;
}
.rit-side-apk-licence {
    margin-top: 20px;
}
.menu-sec {
    justify-content: space-between;
}

}
@media screen and (max-width: 767px){
   .sub-wrapper{
    display: none;
   }

   .inner-bg {
    top: 4%;
   }

   .sky-club-content .owl-nav {
    top: -26%;
    }

    .sky-club-wrapper {
        margin: 26px 0px;
    }

   .navbar-toggler-icon {
    background-size: 24px;
  }

  .sky-club-content .owl-nav button.owl-next {
    background-size: 16px;
}
  
.sky-club-content .owl-nav button.owl-prev {
    background-size: 16px;
}


  .custom-navbar-list {
    width: 50%;
  }

  .nav-inner-nav li a:hover {
    transition: none;
    background: rgba(255,255,255,.2);
    color: #FFF;
    border-bottom: none;
    box-shadow: none;
    
}

.sky-btn {
    font-size: 14px;
}

.custom-navbar-list li {
    padding: 4px 0px;
}

.navbar-light .navbar-toggler {
    margin-top: 7px;
}


.sports-tab-sec .nav-pills {
    display: flex;
    width: 100%;
    flex-wrap: initial;
    overflow-x:auto;
}

.sports-tab-wrapper .nav-pills .nav-link {
    font-size: 14px;
}

.tab-inner-con p {
    font-size: 14px;
}

.content-tab-heading h4 {
    font-size: 18px;
}

.sports-tab-img {
    width: 40px;
    height: 40px;
}

.footer-wrapper {
    margin-top: 20px;
}

.footer-wrapper {
    padding: 0px 0px;
}


.nav-inner .navbar-nav .dropdown-menu {
    left: 50%;
}

.responsive-menu-slider-sec ul li {
    margin: 0 auto;
    padding: 0px;
}


}

@media screen and (max-width: 575px){

    .header-contant {
        width: 16%;
    }

    .banner-icon-content marquee {
        font-size: 14px;
    }

    .banner-img {
    height: 120px;
    }

    .tab-inner-con {
        width: 98px;
    }

    .sky-club-content .owl-nav {
        top: -18%;
    }
    
    .sky-club-content {
        margin: 14px 0px;
    }

    .club-slider-img img {
        margin-top: 2px;
    }

    .footer-logo {
        width: auto;
    }
    .footer-logo-sec {
        display: flex;
        justify-content: center;
    }

    .footer-menu ul {
        justify-content: center;
        margin-top: 10px;
    }

    .copy-right .partner-content {
        margin-top: 4px;
        text-align: center !important;
    }

    .responsive-menu-slider-sec ul li .tab-inner-con{
       width: 88px;
    }

    .custom-navbar-list {
        width: 42%;
    }

    .nav-inner .navbar-nav .dropdown-menu {
        left: 42%;
    }

    .custom-navbar.show .res-nav-toggler {
        height: 30px;
        width: 30px;
    }

    .res-nav-toggler img{
        width: 60%;
    }

    .nav-inner .navbar-nav .dropdown-menu {
        min-width: 0px !important;
    }

    .responsive-menu-slider-sec ul li {
        margin: 0px 10px !important;
    }

    /* .whatsapp-footer-lft span{display: none;} */
    .whatsapp-footer-lft a {
        height: 45px;
        padding-right: initial;
    }

}

@media screen and (max-width: 425px){
    .tab-inner-con {
        width: 85px;
    }
    .header-logo {
        max-width: 100px !important;
    }
}

@media screen and (max-width: 479px){
    .header-contant {
        left: 0;
        transform: inherit;
        position: inherit;
    }
    .navbar-toggler-icon {
        background-size: 20px;
    }

    .header-contant {
        width: 20%;
    }

    .custom-navbar-list li a{
        padding: 4px !important;
    }

    .custom-navbar-list li {
        margin-left: 10px;
    }

    .inner-nev-img img {
        width: 30px;
        height: 30px;
    }

    .inner-nev-img{
        margin-right: 2px;
    }

    .banner-img img {
        border-radius: 10px;
    }
    .banner-icon-content marquee {
        font-size: 12px;
    }

    
    .menu-bg {
        padding: 8px 0px;
    }

    .banner-warpper {
        margin-top: 2px;
    }

    .content-tab-heading h4 {
        font-size: 16px;
    }

    .sky-heading h2 {
        font-size: 16px;
    }

    .sky-club-content .owl-nav {
        top: -20%;
    }

    .sky-club-wrapper {
        margin: 16px 0px;
    }

    .group-content h4 {
        font-size: 13px;
    }

    .footer-group-contant {
        margin: 0px !important;
    }

    .group-img {
        margin-right: 5px;
    }

    .group-content p {
        font-size: 11px;
    }

    .group-img img {
        margin-right: 0px;
        width: 30px;
        margin: 0 auto;
        height: 30px;
        margin-bottom: 3px;
    }

    .group-content a {
        font-size: 11px;
    }

    .footer-group-sec {
        justify-content: space-between;
    }

    .partner-content p {
        font-size: 12px;
        line-height: 20px;
    }

    .partner-gtm ul li a {
        font-size: 13px;
    }

    .partner-gtm ul {
        justify-content: space-between;
    }

    .gtm-contant.partner-gtm.social-icons-footer ul {justify-content: inherit;}
    .responsive-menu-slider-sec ul li .tab-inner-con {
        background-color: transparent;
        border-bottom: 1px solid #111;
    }

    .responsive-menu-slider-sec ul li{
        margin: 0px 4px !important;
    }

    .responsive-menu-slider-sec ul li .tab-inner-con img{
        width: 24px;
        height: 24px;
    }
    .menu-sec {
        justify-content: space-between;
    }
    .sky-btn{min-width: initial;}
    .all-provider-sec .nav-pills .nav-link {
        font-size: 14px;
        padding: 10px 0;
    }

}

@media screen and (max-width: 365px){
    .tab-inner-con {
        width: 74px;
    }
}

@media screen and (max-width: 359px){

    .custom-navbar-list li a {
        font-size: 12px;
    }

    .custom-navbar-list li {
        padding: 2px 0px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 3px;
        margin: 4px;
        border: 0.2px solid var(--secondary-color);
        border-radius: 30px;
    }

    .banner-img {
        height: 110px;
    }

    .sky-btn {
        font-size: 12px;
    }

    .navbar-light .navbar-toggler {
        margin-top: 5px;
    }

    .banner-img img {
        border-radius: 5px;
    }

    .sports-tab-img img {
        width: 30px;
        height: 30px;
        margin-bottom: 0px;
    }

    .sports-tab-img{
        width: 30px;
        height: 30px;
        margin: 0 auto;
    }

   
    .sports-tab-wrapper .nav-pills .nav-link {
        font-size: 12px;
    }

    .tab-inner-con img{
        width: 30px;
        height: 30px;
    }

    .tab-inner-con p {
        font-size: 12px;
    }

    .content-tab-heading h4 {
        font-size: 14px;
    }

    .sports-tab-sec .nav-pills .nav-link.active::after {
        border-width: 7px;
    }


    .sky-heading h2 {
        font-size: 14px;
    }

    .sky-club-content .owl-nav {
        top: -30%;
    }

    .footer-group-contant {
        display: initial;
    }

    .group-img {
        display: inherit;
    }
   
    .footer-group-contant {
        padding-right: 5px !important;
    }

    .footer-group-sec {
        padding: 0px 0px;
    }

    .footer-wrapper {
        margin-top: 0px;
    }

    .footer-menu ul li a {
        font-size: 12px;
    }

    .footer-menu ul {
        margin-top: 5px;
    }

    .sky-club-wrapper {
        margin: 4px 0px;
    }

    .sky-club-content {
        margin: 8px 0px;
    }

    .partner-content p {
        margin-bottom: 3px;
    }

    .partner-content {
        margin-top: 10px;
    }

    .footer-partner-wrapper {
        margin-top: 10px;
        padding: 4px 0px;
    }

    .group-content {
        margin-top: 2px;
    }

    .Payment-sec img {
        width: 60px;
    }

    .partner-img {
        margin-right: 14px;
    }

    .responsive-menu-slider-sec ul li .tab-inner-con {
        width: 80px;
        padding: 2px 0px !important;
    }

    .custom-navbar.show .res-nav-toggler {
        height: 26px;
        width: 26px;
    }
}
